body {
    font-family: exo;
    overflow: overlay;
}

#main {
    /*background-color: white;*/
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /*opacity: 0.75;*/
}

.card-header {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}

#role {
    display: flex;
    margin-top: 20px;
}

#avatarWrapper {
    width: 16vw;
    height: 16vw;
    min-width: 220px;
    min-height: 220px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}

.card {
    -webkit-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
    margin-left: 1vw;
    background-color: rgba(250, 250, 210, .85);
    margin-bottom: 2vh;
    min-width: 300px;
}

#execs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.card-link {
    font-size: 24px;
    color: black;
}

.card-link:hover {
    font-size: 24px;
    color: black;
}

.card-link+.card-link {
    margin-left: .75rem;
}

.fa-envelope {
    font-size: 27px;
}

.osuIcon {
    height: 25px;
    vertical-align: bottom;
    margin-bottom: 8px;
}

.card-footer {
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    border: none;
    padding: .5rem .25rem;
}

.card-text {
    margin-bottom: 60px;
}

h1#execTitle {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: black;
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: rgba(250, 250, 210, .85);
    -webkit-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
    box-shadow: 10px 10px 16px -8px rgba(0, 0, 0, 0.35);
}



.card-link .discordtooltip {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: -37%;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-link .emailtooltip {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 0%;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-link .discordtooltip::after,
.card-link .emailtooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.card-link:hover .discordtooltip,
.card-link:hover .emailtooltip {
    visibility: visible;
}

.titleWrapper {
    display: flex;
    justify-content: center;
}

.noEmail {
    visibility: collapse;
}

#osuButtonContainer {
    height: 0vh;
    width: 0vw;
    margin: auto;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    font-size: 1.25vw;
}

img#logo {
    bottom: -100px;
    left: -100px;
    position: fixed;
    height: 20em;
}

img#logo:hover {
    height: 22em;
}