body
{
	background-image:url("resources/triangles.png");
}

/*img#logo {
    display: block;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}*/

img#discord {
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}