body {
    overflow: hidden;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.row {
    width: 100vw;
}

#osuButtonContainer {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#allOptions {
    width: fit-content;
    text-align: left;
}

.noAnim {
    animation: none !important;
}

img#logo {
    z-index: 0;
    transition: height .2s;
    transition-timing-function: linear;
}

.option {
    height: 15vh;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 215, 0, .75);
    /* box-shadow: -20vw 0 gold; */
    padding-left: 22vw;
    margin-left: -20vw;
    font-family: Exo;
    margin-top: 2vh;
    font-size: 2.5em;
    font-weight: 800;
    border-top: rgba(0, 0, 0, .75) solid 2vh;
    border-right: rgba(0, 0, 0, .75) solid 2vh;
    border-bottom: rgba(0, 0, 0, .75) solid 2vh;
    font-style: italic;
    width: 52vw !important;
}

img#discord {
    margin-top: 5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

#background {
    position: absolute;
    top: 0;
    z-index: -1;
}

#triangles {
    position: absolute;
    top: 0;
    filter: contrast(500%) brightness(250%);
    width: 100vw;
}

#waterloo {
    position: absolute;
    top: 0;
    opacity: .4;
    width: 100vw;
    filter: saturate(150%);
}